
@import '../variables.scss';
/*@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';*/


html {
  color: #222;
  font-weight: 100;
  font-family: $font-family-base;

}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
  h1{
    font-size: 30px;
    color: $grey;
  }
}


